In [54]:
import sqlite3
import datetime as dt
import pandas as pd

In [55]:
dbname = 'db/ticks_backup2.db'
db = sqlite3.connect(dbname)
instrument_df = pd.read_csv("data/NSE_Instruments.csv")

In [56]:
    def getTicker(instrument,startTime=None,endTime=None):
        query = '''SELECT * FROM TOKEN_%s ''' % instrument

        if (startTime is not None and endTime is not None) :
            query += ''' WHERE `ts` >= '%s' ''' % startTime
            query += ''' and `ts` <= '%s' ''' %  endTime

        query += ''' ;'''
        #print(query)
        data = pd.read_sql( query, con=db)
        data = data.set_index(['ts'])
        data.index = pd.to_datetime(data.index)
        ticks = data.loc[:, ['price']]
        df = ticks['price'].resample('30S').ohlc().dropna()
        return df

In [57]:
    def saveTicker(instrument,fielname,startTime=None,endTime=None,index = False):
        df = getTicker(instrument,startTime,endTime)
        print("=========="+fielname)
        print(df)
        df.to_csv(fielname, index=index)

In [58]:
    def instrumentLookup(symbol):        
        try:
            return instrument_df[instrument_df['tradingsymbol'] == symbol].instrument_token.values[0]
        except:
            return -1

In [59]:
tickerlist = [{'ticker':'TATAMOTORS','name':'data/tata_ticks_backup2.csv' },
              {'ticker':'SBIN','name':'data/sbi_ticks_backup2.csv' },    
              {'ticker':'VEDL','name':'data/vedl_ticks_backup2.csv' },    
              {'ticker':'ZEEL','name':'data/zeel_ticks_backup2.csv' }]

In [60]:
 for ticker in tickerlist:
        saveTicker(instrumentLookup(ticker['ticker']),ticker['name'])

884737
                       open    high    low   close
ts
2021-05-11 09:22:00  310.30  310.60  310.3  310.60
2021-05-11 09:22:30  310.50  311.00  310.5  311.00
2021-05-11 09:23:00  311.20  311.45  311.0  311.25
2021-05-11 09:23:30  311.30  311.50  311.1  311.45
2021-05-11 09:24:00  311.40  311.45  310.9  311.15
...                     ...     ...    ...     ...
2021-05-11 14:00:00  318.65  318.80  318.6  318.75
2021-05-11 14:00:30  318.75  318.80  318.5  318.80
2021-05-11 14:01:00  318.70  319.00  318.7  318.75
2021-05-11 14:01:30  318.85  318.85  318.6  318.60
2021-05-11 14:02:00  318.65  318.65  318.6  318.60

[561 rows x 4 columns]
779521
                       open    high     low   close
ts
2021-05-11 09:22:00  357.55  357.60  357.40  357.55
2021-05-11 09:22:30  357.50  357.60  357.20  357.25
2021-05-11 09:23:00  357.45  357.75  357.25  357.70
2021-05-11 09:23:30  357.70  358.90  357.70  358.90
2021-05-11 09:24:00  358.55  358.80  358.30  358.65
...                     ...     ...     ...     ...
2021-05-11 14:00:00  363.95  364.00  363.80  364.00
2021-05-11 14:00:30  364.00  364.00  363.70  363.70
2021-05-11 14:01:00  363.70  363.80  363.60  363.75
2021-05-11 14:01:30  363.70  363.85  363.65  363.80
2021-05-11 14:02:00  363.80  363.90  363.80  363.90

[561 rows x 4 columns]
784129
                       open    high     low   close
ts
2021-05-11 09:22:00  289.35  289.45  289.30  289.40
2021-05-11 09:22:30  289.35  289.90  288.75  289.90
2021-05-11 09:23:00  289.90  289.90  288.85  289.30
2021-05-11 09:23:30  289.30  290.00  289.05  290.00
2021-05-11 09:24:00  290.05  290.45  289.80  290.35
...                     ...     ...     ...     ...
2021-05-11 14:00:00  290.75  290.75  290.65  290.65
2021-05-11 14:00:30  290.65  290.80  290.65  290.80
2021-05-11 14:01:00  290.75  290.75  290.50  290.65
2021-05-11 14:01:30  290.65  290.90  290.60  290.75
2021-05-11 14:02:00  290.75  290.75  290.70  290.70

[561 rows x 4 columns]
975873
                       open    high     low   close
ts
2021-05-11 09:22:00  187.70  187.90  187.70  187.85
2021-05-11 09:22:30  187.65  187.70  187.20  187.30
2021-05-11 09:23:00  187.35  187.80  187.35  187.65
2021-05-11 09:23:30  187.65  188.20  187.65  188.15
2021-05-11 09:24:00  188.20  188.30  187.75  187.75
...                     ...     ...     ...     ...
2021-05-11 14:00:00  187.20  187.50  187.10  187.50
2021-05-11 14:00:30  187.45  187.55  187.40  187.50
2021-05-11 14:01:00  187.55  187.55  187.45  187.45
2021-05-11 14:01:30  187.45  187.55  187.35  187.35
2021-05-11 14:02:00  187.40  187.50  187.35  187.35

[561 rows x 4 columns]